body{
    box-sizing: border-box;
    font-size: 1.5em;
}

html,body{
    height: 100%;
}

body>* {
    border:1px solid back;
}

header{
    background-color: pink;
}

aside{
    background-color: purple;
}

article{
    background-color: gray;
}

main nav{
    background-color: green;
}

footer{
    background-color: teal;
}

body > header,
body > footer{
    height: 70px;
    line-height: 7-px
}

#hambruger{
    position: absolute;
    top: 10px;
    left: 10px;    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#hamburger:active{
    display: none;
}

div{
    background-color: black;
    margin: 2px 0 px 0;
    height: 6px;
    width: 30px;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}


