main{
    display: grid;
    height: calc(100% - 140px);
    /* height: 600px; */
}

main section{
    display: grid;
}

main > nav {
    order: 1;
}

main > article {
    order: 2;
}

main > aside{
    order:3;
}

@media screen and (min-width: 750px){
    main section{
        grid-template-columns: 150px 1fr 150px;
    }
}